body {
  background-color: #fee040; /* Replace with your desired yellow color */
  background-image: url("https://blinkit.com/careers/sites/default/files/2022-03/press-masthead-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
